<div class="main">
    
    <h2>Change Password</h2>
    <div class="input-box">
      <input type="text" [(ngModel)]="password" placeholder="Old Password">
    </div>
    <div class="input-box">
        <input type="text" [(ngModel)]="newPassword" placeholder="New Password">
    </div>
    <div class="input-box">
        <input type="text" [(ngModel)]="confirmPassword" placeholder="Confirm New Password">
      </div>
      <div class="input">
        <button (click)="changePassword()">Change Password</button>
        <button (click)="closeDialog()">Cancel</button>
      </div>
      
    
</div>