<!-- Dashboard component template -->

<div class="dashboard">
  <h1>Hello {{ loggedInUsername }}</h1> <!-- Display the logged-in username -->
  <app-current-time></app-current-time> <!-- Display the current time component -->
  <app-searchbar></app-searchbar> <!-- Display the search bar component -->
  <h2> Buying Power: ${{ buyingPower | number:'1.2-2' }}</h2>
  <h2> Total Investment: ${{ totalInvestment | number:'1.2-2' }}</h2>
  <h2>Total Profit/Loss: <span [ngStyle]="{'color': profitLossColor(profitLoss)}">${{ profitLoss | number:'1.2-2' }}</span></h2>
  <app-portfolio></app-portfolio> <!-- Display the portfolio component -->
  <h2 class="transaction" (click)="openTransactionsDialog()">Transaction History</h2>
</div>
