<div class="main">
<!-- Dialog title displaying the stock ticker -->
<h1>{{ symbol }}</h1>

<!-- Display the current price, quantity owned, average buy price, and profit/loss -->
<mat-dialog-content>
  <p>Current: ${{ currentPrice | number: '1.2-2' }}</p>
  <p>Owned: {{ ownedShares }}</p>
  <p>Average: ${{averageBuyPrice | number: '1.2-2' }}</p>
  <p>Profit: ${{ profitLoss | number: '1.2-2' }}</p>
  
  <!-- Input field for specifying the sell quantity -->
  <div>
    <label for="sellQuantity">Sell Quantity:</label>
    <input id="sellQuantity" type="number" [(ngModel)]="sellQuantity" min="1" [max]="data.quantityOwned" />
  </div>
</mat-dialog-content>

<!-- Dialog actions including close, sell, and buy more buttons -->
<mat-dialog-actions>

  <!-- Sell button triggers the sellStock method -->
  <button mat-button (click)="sellStock()">Sell</button>
  <!-- Buy more button triggers the buyStock method -->
  <button mat-button (click)="buyStock(symbol, currentPrice)">Buy More</button>

  <button mat-button (click)="viewTransactions(symbol)">View Transactions</button>

  <button mat-button (click)="viewStockPage(symbol)">View Stock Details</button>
<div class="quit-container">
  <button class="quit" mat-button [mat-dialog-close]="true">Close</button>

</div>
</mat-dialog-actions>
</div>