<div class="search-bar-container">
  <input 
    type="text" 
    [(ngModel)]="keywords" 
    (input)="onInputChange()" 
    (keyup.enter)="onEnterPress()" 
    placeholder="Search for symbols" 
    class="search-input"
    maxlength="5">
  
  <div *ngIf="isLoading" class="loading-spinner">
    <!-- Include your spinner here -->
  </div>
  
  <ul *ngIf="searchResults.length > 0 && !isLoading" class="results-list">
    <li *ngFor="let result of searchResults" (click)="onStockSelect(result['1. symbol'])" class="result-item">
      <span class="symbol">{{ result['1. symbol'] }}</span> - <span class="name">{{ result['2. name'] }}</span>
    </li>
  </ul>
  
  <div *ngIf="searchResults.length === 0 && !isLoading && searchPerformed" class="no-results">
    No stocks found.
  </div>
</div>
