<div class="buy-container">


<h2>Buy More Stocks</h2>
<div>
  <p>Symbol: {{ symbol }}</p>
  <p>Current Price: ${{ currentPrice | number:'1.2-2' }}</p>
  <div>
    <label for="buyQuantity">Quantity:</label>
    <input type="number" [(ngModel)]="buyQuantity" min="1" id="buyQuantity">
    <p>Total Cost: ${{ (currentPrice * buyQuantity > 0) ? (currentPrice * buyQuantity | number:'1.2-2') : 'N/A' }}</p>
    <p>Available Buying Power: ${{ buyingPower | number:'1.2-2' }}</p>
  </div>
  <button (click)="buyStock()">Buy</button>
  <button (click)="closeDialog()">Cancel</button>
</div>
</div>