<div class="buy-container">
<div>
  <h1>{{ symbol }}</h1>
  <h2>${{ currentPrice | number:'1.2-2' }}</h2>
  <div>
    <input type="number" [(ngModel)]="buyQuantity" min="1" id="buyQuantity">
    <h2>Total Cost: ${{ (currentPrice * buyQuantity > 0) ? (currentPrice * buyQuantity | number:'1.2-2') : 'N/A' }}</h2>
    <h2>Available Buying Power: ${{ buyingPower | number:'1.2-2' }}</h2>
  </div>
  <button (click)="buyStock()">Buy</button>
  <button (click)="closeDialog()">Cancel</button>
</div>
</div>