<!-- Inside buy-stock-dialog.component.html -->
<div class="quick-buy-container">
  <app-searchbar [mode]="'select'"
  (stockSelected)="handleStockSelected($event)" 
  (inputChanged)="handleInputChange()"></app-searchbar>

<!-- Display the stock symbol and current price -->
<div class="data">
  <div *ngIf="stockSymbol">
    <h1>{{ stockSymbol }}</h1>
    <h2 *ngIf="currentPrice">${{ currentPrice | number:'1.2-2' }}</h2>
    
    <div>
    <input type="number" [(ngModel)]="buyQuantity" min="1" id="buyQuantity">
    <h2>Total Cost: ${{ getTotalCost() | number:'1.2-2'}}</h2>
    </div>
    
    <h2>Available Buying Power: ${{ buyingPower | number:'1.2-2' }}</h2>
    <button (click)="buyStock()">Buy</button>
    </div>
    
    
    <button (click)="closeDialog()">Cancel</button>
    
    </div>
    
</div>
