<div>
  <h2 class="title">Portfolio</h2>
  <!-- Portfolio Table with scrolling -->
  <div class="portfolio-container">
    <table class="portfolio-table">
      <thead>
        <!-- Table headers with sticky header -->
        <tr class="sticky-header">
          <th class="title-box" (click)="toggleSortDirection('ticker')">Ticker</th>
          <th class="title-box" (click)="toggleSortDirection('quantityOwned')">Quantity</th>
          <th class="title-box" (click)="toggleSortDirection('averageBuyPrice')">Average</th>
          <th class="title-box" (click)="toggleSortDirection('currentPrice')">Currently</th>
          <th class="title-box" (click)="toggleSortDirection('profitLoss')">Profit</th>
        </tr>
      </thead>
      <tbody>
        <!-- Table rows for each stock -->
        <tr *ngFor="let stock of stocks" (click)="openDialog(stock)" class="stock-row">
          <!-- Table data for each stock -->
          <td>{{ stock.ticker }}</td>
          <td>{{ stock.quantityOwned }}</td>
          <td>{{ stock.averageBuyPrice | currency }}</td>
          <!-- Conditional rendering for current price -->
          <td *ngIf="stock.currentPrice !== undefined">{{ stock.currentPrice?.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) }}</td>
          <!-- Conditional rendering for profit/loss -->
          <td *ngIf="stock.profitLoss !== undefined">{{ stock.profitLoss?.toLocaleString('en-US', { style: 'currency', currency: 'USD' }) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Message for Empty Portfolio -->
  <div *ngIf="!loading && stocks.length === 0">No stocks in portfolio.</div>
</div>
