<!-- Portfolio Table with scrolling -->
<div class="portfolio-container">
  <table class="portfolio-table">
    <thead>
      <tr class="sticky-header">
        <th class="title-box" (click)="toggleSortDirection('ticker')">Ticker</th>
        <th class="title-box" (click)="toggleSortDirection('quantityOwned')">Quantity</th>
        <th class="title-box" (click)="toggleSortDirection('averageBuyPrice')">Average</th>
        <th class="title-box" (click)="toggleSortDirection('currentPrice')">
          <!-- Conditionally display "Currently" title or loading spinner -->
          <ng-container *ngIf="loading; else currentlyTitle"> 
            <div class="spinner"></div>
          </ng-container>
          <ng-template #currentlyTitle>Currently</ng-template>
        </th>
        <th class="title-box" (click)="toggleSortDirection('profitLoss')">
          <!-- Conditionally display "Profit" title or loading spinner -->
          <ng-container *ngIf="loading; else profitTitle"> 
            <div class="spinner"></div>
          </ng-container>
          <ng-template #profitTitle>Profit</ng-template>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Table rows for each stock -->
      <tr *ngFor="let stock of stocks" (click)="!loading && openStockDetailDialog(stock)" class="stock-row">
        <!-- Other cells remain unchanged -->
        <td>{{ stock.ticker }}</td>
        <td>{{ stock.quantityOwned }}</td>
        <td>{{ stock.averageBuyPrice | currency }}</td>
        <td *ngIf="stock.currentPrice !== undefined">{{ stock.currentPrice | currency:'USD' }}</td>
        <!-- Apply conditional class only to the profit/loss cell -->
        <td [ngClass]="{
            'profit-positive': (stock.profitLoss ?? 0) > 0, 
            'profit-negative': (stock.profitLoss ?? 0) < 0, 
            'profit-zero': (stock.profitLoss ?? 0) === 0
          }" *ngIf="stock.profitLoss !== undefined">
          {{ stock.profitLoss | currency:'USD' }}
        </td>
      </tr>
    </tbody>
    
    
    </table>
  </div>
  <!-- Message for Empty Portfolio -->
  <div *ngIf="!loading && stocks.length === 0">No stocks in portfolio.</div>

