<div class="main">
  <h2 mat-dialog-title class="dialog-title">Security Questions</h2>
  <mat-dialog-content class="security-questions">
    <div *ngFor="let question of securityQuestions; index as i" class="question-container">
      <mat-form-field class="question-field">
        <mat-label>{{ question.question }}</mat-label>
        <input matInput [(ngModel)]="question.answer" [name]="'answer-' + i">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSave()">Save</button>
  </mat-dialog-actions>
</div>
