<div class="main">
  <h2 mat-dialog-title class="dialog-title">Forgot Passsword</h2>



  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="userEmail" type="email" required>
  </mat-form-field>
  <mat-dialog-content class="security-questions">
  <div *ngFor="let item of securityAnswers">
    <mat-form-field appearance="fill">
      <mat-label>{{ item.question }}</mat-label>
      <input matInput [(ngModel)]="item.answer" required>
    </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="requestPasswordReset()">Verify and Reset Password</button>
  </mat-dialog-actions>
</div>

