<div class="forgot-password-form">
  <h2>Forgot Password</h2>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="userEmail" type="email" required>
  </mat-form-field>

  <div *ngFor="let item of securityAnswers">
    <mat-form-field appearance="fill">
      <mat-label>{{item.question}}</mat-label>
      <input matInput [(ngModel)]="item.answer" required>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="requestPasswordReset()">Verify and Reset Password</button>
</div>
