// Sass comments
// .stock-news styles

.background
  margin: 0
  padding: 0
  padding: 25px // Add padding to the top of the dashboard to push content down
  background: linear-gradient(to bottom, #1C1C1E, #444445, #444445)
  height: 100%
  min-height: 100vh
  text-align: center

.title h1
  font-size: 40px // Example size, adjust as needed
  margin: 0 0 20px 0 // Adjust spacing around the title as needed
  padding: 0 // Adjust padding as needed
  text-align: center
  color: #86d7ff
  font-style: italic

h1, h2
  color: #86d7ff

button
  margin-right: 8px
  background-color: #007bff
  border: none
  color: white
  border-radius: 4px
  border: none
  padding: 20px 30px
  width: 30%
  &:hover
    cursor: pointer
    background-color: #c4e1ed


.stock-data
  display: grid
  grid-template-columns: repeat(2, 1fr) // Creates two columns
  grid-gap: 15px // Space between the grid items
  max-width: 800px // Maximum width of the grid
  margin: auto // Center the grid horizontally
  text-align: center

.stock-news 
  // .news-item styles
  .news-item 
    display: flex
    align-items: center
    padding: 15px
    margin-bottom: 10px

    // .news-image styles
    .news-image 
      width: 275px 
      height: 200px
      margin-right: 15px
    

    // h3 styles
    h3 
      font-size: 40px
      color: white
    

    // p styles
    p 
      font-size: 20px
      margin: 0 0 10px 0
      color: white
    

    // a styles
    a 
      text-decoration: none
      color: inherit
      color: #007bff
    

    // Hover state for a
    &:hover a 
      text-decoration: underline
  
  

  // .loading-animation styles
  .loading-animation 
    display: flex
    align-items: center
    justify-content: center
    height: 30px
  

  // .dot styles
  .dot 
    width: 10px
    height: 10px
    background-color: #007bff
    border-radius: 50%
    animation: dotScale 1s infinite
    margin: 0 5px
  

  // .dot1 animation delay
  .dot1 
    animation-delay: 0.2s
  

  // .dot2 animation delay
  .dot2 
    animation-delay: 0.4s
  

  // .dot3 animation delay
  .dot3 
    animation-delay: 0.6s
  

  // @keyframes for dot scaling animation
  @keyframes dotScale 
    0%, 100% 
      transform: scale(1)
    
    50% 
      transform: scale(1.2)
