<!-- buy-stock-dialog.component.html -->
<h2 mat-dialog-title>Buy {{ data.symbol }}</h2>
<mat-dialog-content>
  <p>Current Price: ${{ data.currentPrice | number: '1.2-2' }}</p>
  <div>
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput [(ngModel)]="buyQuantity" type="number" min="1">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Cancel</button>
  <button mat-button (click)="onBuy()">Buy</button>
</mat-dialog-actions>
